html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--petal);
  color: var(--blackberry);
  font-family: var(--fontBody);
}

a,
a:visited,
a:active {
  color: var(--blackberry);
  text-decoration: none;
}

a:hover {
  color: var(--pinkGuava);
}

ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-right {
  justify-content: right;
}

.grid--menu {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: end;
}

.grid--nav {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.flex--apart {
  justify-content: space-between;
}

.flex--center {
  align-items: center;
}

.flex--bottom {
  align-items: flex-end;
}

.flex--baseline {
  align-items: baseline;
}

.upper {
  text-transform: uppercase;
}

.rounded-corners {
  border-radius: 50px;
}

.hide {
  display: none;
}


