html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--petal);
  color: var(--blackberry);
  font-family: var(--fontBody);
}

a,
a:visited,
a:active {
  color: var(--blackberry);
  text-decoration: none;
}

a:hover {
  color: var(--pinkGuava);
}

ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.upper {
  text-transform: uppercase;
}

.rounded-corners {
  border-radius: 50px;
}


