@use '../util' as u;

:root {
    --fontDisplay: 'Playfair Display', serif;
    --fontBody: 'Montserrat', sans-serif;


    --font-body-sm: 14px;
    --font-body-m: 16px;
    --font-body-l: 18px;

    --font-subtitle-mob: 20px;
    --font-subtitle-desk: 24px;

    --font-title-mob: 28px;
    --font-title-desk: 32px;

    --font-display-mob: 34px;
    --font-display-desk: 64px;


    // --text-size-large: 34px;
    // --text-size-base: 18px;
    // --text-size-scaler: 10vw;
    // --text-size-huge: 52px;
}