@forward 'button';
@forward 'header';
@forward 'landing';
@forward 'work-info';
@forward 'projects';
@forward 'about';
// @forward 'aboutwork';
// @forward 'card';
// @forward 'aboutme';
// @forward 'contact';