@use '../util' as u;

.about-work__wrapper {
    // border: 1px solid orangered;
}

.about-work__bkg {
  background-image: url("../../../assets/work-bkg-big.svg");
  background-position: 05% 0;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(4);
  width: 100vw;
  height: u.rem(700);
}

.about-work {
  width: 100vw;
  text-align: center;
  padding-top: u.rem(110);
}

.about-work__text--title {
  margin-bottom: u.rem(40);
  font-size: u.rem(24);
}

.work-icon {
  justify-self: center;
  transform: translateX(10%);
  width: u.rem(105);
}

.about-work__text--subtitle {
  margin-bottom: u.rem(12);
  font-size: u.rem(20);
}

.about-work__text--body {
  font-size: u.rem(12);
  line-height: 1.6;
  padding: 0 u.rem(40) u.rem(40) u.rem(40);
}

@media (min-width: 58em) {
  .about-work__bkg {
    background-image: url("../../../assets/work-bkg-big.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(4);
    height: u.rem(900);
  }
  .about-work{
      transform: translateY(-90px);
  }
  .about-work__items {
      margin-top: u.rem(60);
  }
  .about-work__text--title {
    font-size: u.rem(42);
    margin-bottom: u.rem(60);
  }
  .about-work__items {
    //   border: 1px solid purple;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    width: 60vw;
    gap: 20px;
    align-items: center;
  }
  .about-work__item {
    //   border: 1px solid orange;
    margin-top: u.rem(20);
  }
  .work-icon {
    width: u.rem(140);
  }
  .about-work__text--subtitle {
    font-size: u.rem(24);
  }
  .about-work__text--body {
    font-size: u.rem(14);
    line-height: 1.6;
    padding: 0 u.rem(40) 0 u.rem(40);
  }
}
