@use '../util/' as u;

.about-me {
  width: 87vw;
  text-align: center;
  padding-top: u.rem(90);
}

.about-me__title {
  text-align: center;
  margin-bottom: u.rem(40);
  font-size: u.rem(24);
}

.about-me__text--body {
  font-size: u.rem(12);
  line-height: 1.6;
  margin-top: u.rem(30);
}

.profile-pic {
  justify-self: center;
  width: u.rem(105);
}

@media (min-width: 58em) {
  .about-me {
    width: 60vw;
  }
  .about-me__title {
    font-size: u.rem(42);
    margin-bottom: u.rem(90);
  }
  .about-me__text--body {
    font-size: u.rem(14);
    line-height: 1.6;
    padding: 0 u.rem(40) 0 u.rem(40);
    margin-bottom: u.rem(90);
  }
  .profile-pic {
    width: u.rem(120);
    margin-bottom: u.rem(30);
  }
}
