@use '../util/' as u;

// Normalize
button {
  font-family: inherit; /* For all browsers */
  line-height: 1.15; /* For all browsers */
  margin: 0; /* Firefox and Safari have margin */
  overflow: visible; /* Edge hides overflow */
  text-transform: none; /* Firefox inherits text-transform */
  -webkit-appearance: button; /* Safari otherwise prevents some styles */
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// Styles

.btn {
  font-family: inherit;
  font-size: u.rem(12);
  border: 0;
  border-radius: u.rem(50);
  background: linear-gradient(90deg, var(--brightOrange) 0%, var(--brightPink) 100%);
  color: var(--petal);
  line-height: 1.2;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
  padding: u.rem(14) u.rem(28);
  margin: 0.25rem;
  cursor: pointer;
}

.btn-talk {
    margin-top: u.rem(20);
}