@use '../util/' as u;

.footer__items {
  width: 87vw;
  text-align: center;
  padding-top: u.rem(50);
}

.footer__bkg {
  background-image: url("../assets/contact-bg.svg");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: u.rem(450);
}

.contact__title {
  text-align: center;
  margin-bottom: u.rem(40);
  font-size: u.rem(24);
}

.footer__nav {
  // border: 1px solid red;
  width: 85vw;
  justify-self: center;
  margin-top: u.rem(90);
}

.logo {
  width: u.rem(65);
}

@media (min-width: 58em) {
  .footer_items {
    padding-top: u.rem(70);
  }
  .contact__title {
    font-size: u.rem(42);
  }
  .footer__bkg {
    height: u.rem(600);
  }
  .logo {
    width: u.rem(85);
  }
  .footer__nav {
  // border: 1px solid red;
  width: 70vw;
  margin-top: u.rem(150);
}
}
