@use '../util/' as u;

.header__section {
  width: 90vw;
  height: u.rem(36);
}

@media (min-width: 48em) {
  .header__section {
    width: 70vw;
    height: u.rem(40);
  }
  .mobile__menu-icon {
      display: none;
  }
}

.logo-icon {
  width: u.rem(14);
}

// Mobile

.header__menu--mobile {
  align-self: end;
  justify-self: end;
}

.mobile__menu-icon {
  cursor: pointer;
  text-align: right;
}

.line {
  background-color: var(--blackberry);
  width: u.rem(14);
  height: u.rem(2);
  display: block;
  justify-self: end;
  transition: all 0.375s ease-in-out;
}

.longer-line {
  width: u.rem(20);
  margin-bottom: u.rem(5);
}

// Menu that shows only when mobile menu is clicked
.open {
  // When open change the nav__list:
  // visibility: visible;
  // opacity: 0.85;
}

.nav__list {
  visibility: hidden;
  background-color: var(--peach);
  transform: translateY(0);
  transition: all 0.375s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 8;
  padding: u.rem(50) u.rem(25);
}

.nav__item--mobile {
  padding: u.rem(20) 0;
}

// Desktop

.nav__item {
  font-size: u.rem(12);
  margin-left: u.rem(30);
}

.github-icon {
    font-size: u.rem(16);
}

@media (max-width: 48em) {
    .header__menu {
        display: none;
}
}

