@use '../util/' as u;

.landing__wrapper {
    width: 100vw;
}

.landing-icon {
    // border: 1px solid red;
    margin-top: u.rem(60);
    width: 50vw;
    align-self: center;
    justify-self: center;
    transform: translateX(10%);
}

.landing__text {
    text-align: center;
    width: 100vw;
    justify-self: center;
}

.landing__text--title {
    font-size: u.rem(34);
}

.landing__text--body {
    padding: 0 u.rem(12);
    font-size: u.rem(12);
    line-height: 1.5;
}