@use '../util/' as u;

.work {
    max-width: 100vw;
    height: 850px;
    background-image: url('../../../assets/work-bkg-big.svg');
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    gap: u.rem(50);
    
}

.work-content {
    gap: u.rem(20);
}

.work-icon {
    width: u.rem(140);
    justify-self: center;
    transform: translateX(10%);
    margin-top: u.rem(30);
}

@media (min-width: 58em) {
    .work-content {
        width: 70vw
    }
    .work-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
